<!DOCTYPE html>
<head>
  <title>Localization test page</title>
</head>
<body>
  <%= form_tag(finger_prints_localization_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      SSID: <input type="text" name="finger_print[0][SSID]" class="span2" id="SSID_0" size="40"/>
      BSSID: <input type="text" name="finger_print[0][BSSID]" class="span2" id="BSSID_0" size="40"/>
      RSSI: <input type="text" name="finger_print[0][RSSI]" class="span2" id="RSSI_0" size="40"/>
      <br/>
      SSID: <input type="text" name="finger_print[1][SSID]" class="span2" id="SSID_1" size="40"/>
      BSSID: <input type="text" name="finger_print[1][BSSID]" class="span2" id="BSSID_1" size="40"/>
      RSSI: <input type="text" name="finger_print[1][RSSI]" class="span2" id="RSSI_1" size="40"/> 
      <button class="btn" type="submit"><i class="icon-search"></i>search</button>
    </div>
  <% end %>
  <%= yield %>
</body>
